@import 'lib/common';
*{
    transition: all .3s linear;
}
#service {
    .box {  
        text-align: center;
        position: relative;
        width: 100%;
        height: 340px;
        &:hover{
            .top-part{
                top: -6px;
            }
            .bottom-part{
                bottom: -10px;
            }
        }
        .top-part {
            width: 100%;
            padding-top: 50px;
            position: absolute;
            text-align: center;
            top: 0;
            left: 0;
            i {
                font-size: 40px;
            }
            h1{
                font-size: 2.5em;
                font-family: calibri;
                margin-top: 15px;
                cursor: pointer;
                &:hover{
                    color: #37c386; 
                }
            }
        }
        .bottom-part{
            width: 100%;
            box-sizing: border-box;
            padding: 0px 10px 50px 10px;
            position: absolute;
            bottom: 0;
            left: 0;
            i{
                font-size: 25px;
                margin-top: 15px;
            }
            p{
                font-weight: 200;
                font-family: verdana;
                font-size: .9em;
            }
        }
    }
    .border-right{
        border-right: 1px solid grey;
    }
    .border-top{
        border-top: 1px solid grey;
    }
}
#attendance{
    background: #37c386; 
    position: relative;
    height: 550px;
    .position{
        position: relative;
        top: -30px;
        left: 0px;
        .background_color{
            width: 100%;
            background: #3a3c3e;
            padding: 100px 0px;
            .header{
                text-align: center;
                font-family: "Roboto", Helvetica, Arial, sans-serif;
                h4{
                    color: #74787C; 
                    font-size: 25px;
                    margin: 15px 0px;
                }
                h1{
                    color: white;
                     font-size: 40px;
                     font-weight: 100;
                     margin: 15px 0px;
                }
                p{
                    color: white;
                }
            }
    
            .counter{
                display: grid;
                grid-template-columns: repeat(4, auto);
                grid-template-rows: auto;
    
             
                .count_item{
                    font-family: "Roboto", Helvetica, Arial, sans-serif;
                    text-align: center;
                    color: white;
                    position: relative;
                    h1{ 
                        font-size: 55px;
                        margin-bottom: 0px;
                    }
                    .border{
                        position: absolute;
                        height: 100%; 
                        top: 0;
                        right: 0;
                        border-right: 1px solid #74787C; ;
                        transform: skew(-25deg)
                    }
                }
                div:nth-child(4){
                    .count_item{
                        .border{
                            border: none;
                        }
                    }
                   
                }
            }
            .button_contain{
                padding-top: 50px;
                text-align: center;
                color: white;
                span{
                    font-family: "Roboto", Helvetica, Arial, sans-serif;
                   font-style: italic;
                   margin: 20px;
                }
                button:nth-child(1){ 
                    border: none;
                    outline: none;
                    text-transform: uppercase;
                    width: 230px;
                    height: 45px;
                    background: #37c386; 
                    color: white;
                }
                button:nth-child(3){
                    @extend button:nth-child(1);
                    background: transparent;
                    border: 2px solid white;
                }
            }
        }
    }
    
}

#team{
    text-align: center;
    padding: 100px 0px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    h1{
        font-size: 40px;
        font-weight: 100;
        b{
            font-weight: 700;
        }
    }
    .team_contain{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        .item{
            padding: 100px 0px; 
            box-sizing: border-box;
            border: 5px solid transparent; 
            border-right: none;
            border-left: none;
            margin: 0px 20px;
            transition: all .2s linear;
            hr{
                width: 50%;
            }
            i{
                color: #37c386; 
            }
            &:hover{
                 border-top: 5px solid #37c386; 
                 border-bottom: 5px solid #37c386; 
                 box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
                .img_contain{
                    transform: scale(1.1);
                    .background{
                        display: none;
                    }
                }
            }
            h1{
                font-size: 25px;
                font-weight: bold;
            }
            .img_contain{
                margin: 0px auto;
                width: 130px;
                height: 130px;
                border-radius: 100%;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                }
                .background{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0,.5);
                }
            }
        }
    }
}